# Q1

In [1]:
# string
A="Heyna"

In [2]:
#list
B=[1,2,3,4,"Heyna",2+7j,4.6]

In [3]:
#float
C=3.4

In [4]:
#Tuple
D=(1,2,8.4)

In [5]:
type(A)

str

In [6]:
type(B)

list

In [7]:
type(C)

float

In [8]:
type(D)

tuple

# Q2

i) String
ii)String
iii)list
iv)float

# Q3

In [9]:
# i) /  
# it is division sign
w=4/2
print(w)

2.0

In [10]:
# ii) % 
# it is modolus it gives remainder
e=10%2 
print(e)

0

In [11]:
# iii) // 
# it is a floor divison in short it roundoff the float result into integer
r= 15//2
print(r)

7

In [12]:
type(r)

int

In [13]:
# iv) **
# it is power 
p= 2**3  # mean 2*2*2
print(p)

8


# Q4

In [14]:
u=[1,3.5,4-6j,"Heyna",(1,2),{1:23,3:2}]
for i in u:
    print("Output:",i,"|","DataType:",type(i))

Output: 1 | DataType: <class 'int'>
Output: 3.5 | DataType: <class 'float'>
Output: (4-6j) | DataType: <class 'complex'>
Output: Heyna | DataType: <class 'str'>
Output: (1, 2) | DataType: <class 'tuple'>
Output: {1: 23, 3: 2} | DataType: <class 'dict'>

# Q5

In [18]:
A = int(input("Enter the Numerator A: "))
B = int(input("Enter the Denominator B: "))
count = 0

while A % B == 0:
    A = A // B  
    count += 1

if count>0:
    print(A, "Times can be divisible ")
    
else:
    print(A, "Not proper division")

Enter the Numerator A: 25
Enter the Denominator B: 5
1 Times can be divisible

# Q6

In [22]:
reult=[]
for i in range(1,25+1):
    reult.append(i)
print(reult)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [29]:
o=[]
p=[]
for i in reult:
    if i%3==0:
        o.append(i)
        print(i, "is divisible by 3")

    else:
        p.append(i)
        print(i, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [30]:
print(o)# divisible by 3
print(p)# non divisible by 3

[3, 6, 9, 12, 15, 18, 21, 24]
[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]

# Q7

# Data type somer are Mutable and some are immutable
String ,int, float ,tuple are Immutable where as Dictionaries,list,Set is Mutable

In [34]:
A=12
print(id(A)) #140735523361928 id of A variable

140735523361928

In [35]:
A=19
print(id(A)) # 140735523362152 `

140735523362152

in above integer example id number has changed as we change the value means integer does not muted

In [37]:
# list
lis1=[1,2,3,"A","B","C"]
print(id(lis1))# 2248138307968

2248137290752

In [40]:
# here i have done append 
char= [11,22,33]
lis1.append(char)
print(id(lis1)) #2248137290752

2248137290752

In [ ]:
# in the above example of list i appened list inside list but id is same even after updating with another list so it is Mutable